[Desktop Entry]
Name=DailyAL
Exec=dailyanimelist
Icon=daily_al
Type=Application
Categories=Utility;
Terminal=false
StartupWMClass=com.teen.dailyanimelist
